DirectoryIndex shuurkhai-home/home-test.php index.php
RewriteEngine On
RewriteBase /shuurkhai/

# ---- ROUTES ----
# Root (/) нь шинэ нүүр хуудсанд заах
RewriteRule ^$ shuurkhai-home/home-test.php [L]

# ✅ Хэрвээ файл эсвэл folder байвал rewrite хийхгүй
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^home/?$ index.php
RewriteRule ^index/?$ index.php
RewriteRule ^contact/?$ contact.php
RewriteRule ^faqs/?$ faqs.php
RewriteRule ^news/?$ news.php
RewriteRule ^about/?$ about.php
RewriteRule ^shop/?$ shop.php [QSA,L]
RewriteRule ^calculator/?$ calculator.php
RewriteRule ^qpay/?$ qpay.php
RewriteRule ^privacy/?$ privacy.php
RewriteRule ^agent/?$ admin/agents.php
RewriteRule ^login/?$ admin/login.php
RewriteRule ^views/logining/?$ admin/views/logining.php
RewriteRule ^home-new/?$ shuurkhai-home/home-test.php [L]
RewriteRule ^shuurkhai-home/home_new/?$ shuurkhai-home/home-test.php [L]

# ---- Disable directory listing ----
Options -Indexes

# ---- 404 ----
ErrorDocument 404 /shuurkhai/underconstruction
