.slider {
    position: relative;
    width: 100%;
    margin: 0 auto ;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.frame,
.events_log {
    position: relative;
    width: 90%;
    margin: 10px auto;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.frame li {
    position: relative;
    display: inline-block;
    height: 120px;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    background: #2E435A;
    color: #fff;
	width:120px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.slides {
    display: inline-block;
}

.events li {
    width: 120px;
    margin-right: 20px;
}


.variablewidth li {
    width: 120px;
    margin-right: 20px;
	border:1px solid #CCC;

}

.variablewidth li a img {
    width: 120px;
	height:120px;
}


.variablewidth li:last-child,
 {
    margin-right: 0;
}

.prev, .next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    cursor: pointer;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.next svg, .prev svg {
    width: 25px;
}
