/*--------------------------------------------------
	  **Tech And All Social Icons Roll Over**
---------------------------------------------------*/
.social-icons {
	padding: 0px !important;
	margin: 0!important;
	list-style-type: none!important;
	 float:right;
}
.social-icons li{
	float: left!important;
	margin-right: 3px!important;
	margin-bottom: 2px!important;
	padding: 0px!important;
	display: inline!important;
	width: auto!important;

}			
.social-icons li a {
	-moz-transition: all 0.3s ease 0s;
	display: block!important;
	float: left!important;
	height: 100%!important;
	margin: 0!important;
	padding: 0!important;
	width: 30px!important;
	height: 30px!important;
	text-indent: -9999px!important;
}
.social-icons li a:hover {
	background-position: 0 -30px!important;
}
.social-icons li a {
	background-color:transparent;
}

.social-icons li.facebook a {
	background: url(../images/icons/facebook.png) no-repeat 0 0;
}
.social-icons li.facebook a:hover {
	background-color: #3b5998;
}

.social-icons li.google a {
	background: url(../images/icons/google.png) no-repeat 0 0;
}
.social-icons li.google a:hover {
	background-color: #dd4b39;
}
.social-icons li.googleplus a {
	background: url(../images/icons/googleplus.png) no-repeat 0 0;
}
.social-icons li.googleplus a:hover {
	background-color: #d94a39;
}


.social-icons li.skype a {
	background: url(../images/icons/skype.png) no-repeat 0 0;
}
.social-icons li.skype a:hover {
	background-color: #18b7f1;
}


.social-icons li.twitter a {
	background: url(../images/icons/twitter.png) no-repeat 0 0;
}
.social-icons li.twitter a:hover {
	background-color: #48c4d2;
}


.social-icons li.youtube a {
	background: url(../images/icons/youtube.png) no-repeat 0 0;
}
.social-icons li.youtube a:hover {
	background-color: #f45750;
}


.social-icons li.email a {
	background: url(../images/icons/email.png) no-repeat 0 0;
}
.social-icons li.email a:hover {
	background-color: #fce702;
}
